.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 280px;
  height: 72px;
  width: calc(100% - 240px);
  padding: 16px 24px;
  z-index: 9;
}

.bgGray {
  background-color: var(--gray40);
}

.searchInput {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 350px;
  height: 40px;
  background-color: white;
  border-radius: 999px;
  overflow: hidden;
  padding: 8px;
}

.searchInput input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

.searchInput input::placeholder {
  color: var(--gray10);
}

.searchInputIcon {
  width: 16px;
  height: 16px;
  background: url("../../../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
