.container {
  display: grid;
  grid-template-columns: 45px 45px 1fr 1fr 120px 45px;
  gap: 14px;
  align-items: center;
  min-height: 50px;
  padding: 4px 0;
  user-select: none;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.container p {
  user-select: none;
}

.albumCover {
  min-width: 45px;
  min-height: 45px;
}

.title {
  font-weight: 500;
  text-transform: capitalize;
}

.artist {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}

.album {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.7;
}

.album a {
  color: #fff;
  text-decoration: none;
}

.album a:hover {
  text-decoration: underline;
}

.buttonContainer {
  display: grid;
  place-items: center;
}

.buttonContainer button {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
}

.container:hover .buttonContainer button {
  opacity: 1;
}
