.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 280px;
  height: calc(100vh - 48px);
  padding: 4px;
  background-color: var(--gray60);
  padding-top: 20px;
  overflow-y: auto;
}

.logo {
  padding-left: 12px;
}

.routes {
  background-color: var(--gray40);
  border-radius: 8px;
}

.routes a {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 8px;
  padding-left: 20px;
  margin: 8px 0;
  margin-right: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray10);

  text-decoration: none;
}

a.active {
  color: var(--white);
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconHome {
  background-image: url("../../../assets/icons/home-active.svg");
}

.iconSearch {
  background-image: url("../../../assets/icons/search-active.svg");
}

.iconCreditCard {
  background-image: url("../../../assets/icons/credit-card.svg");
}
